body { 
    background-color: whitesmoke;

}

.board {
    display: flex;
    height: 70%;
    width: 70%;
    border:  3px ;
    margin-left: 15%;
    background-color: rgba(10, 0, 255, 0.541);

}

.board > div {
    
    height: 90%;
    width: 25%;
    margin: 15px;

}

.hole {
    height: 100px;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.438);
    border-radius: 100%; 
    display:flex;
    margin: 15px;
    margin-right: 3px;
  }

  .playerOne {
    height: 100px;
    width: 100px;
    border-radius: 100%; color: rgb(245,245,11);
    display: flex; 

  }
  .playerTwo {
    height: 100px;
    width: 100px;
    border-radius: 100%; color: rgb(236, 11, 11);
    display: flex; 
  }


/* .container *{
background-color: aqua;


} */

/* .container{

    /*border-radius: ;*/



/* .content1 {
    margin: auto;
    width: 420px;
    height: 400px;
    border: 3px solid #111111;
    display: flex;
    justify-content: space-evenly;
    background-color:#63949b ;
    flex-wrap: wrap;
 /*    vertical-align: middle; */
    /* justify-content: flex-start;
     align-items: stretch;

  } */ 
  .all{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




    
     



.content1{
  margin: 10px; /*new was auto */
  width: 420px;
  height: 400px;    
  background-color: rgb(38, 121, 206);
  border: hotpink solid 2px;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  
}

/* control each circle in the */
#Modifybourd{
    height: 50px;
}
.box1 {
    
  width: 90%;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  padding: 1% ;
  margin: 2% ;
   flex-direction:row;

   

}

/*#test_id_10,#test_id_11{*/
#firstColumn,#secondColumn ,#thirdColumn ,#lastColumn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
     
     

}

.Red{
  background-color: red;

}
.yeloow{
  background-color: yellow;

}
button {
   background-color:  rgba(9, 75, 138, 0.87);
   height: 30px ;
   width: 800px;
   margin-left: 5px;
   color: white;
   font-size: 20px;
   margin-top: 2px;
}
body {
  background-color: rgb(200, 218, 218);
  margin: 0;
  width: 100%;
  min-width: 100%;
  color:white;
  
  

}

header{
   background-color: rgb(66, 66, 66);
   margin: auto;
   padding-top: 1px;
   padding-left: 20px;
   border-bottom: red solid 2px;
 }
footer{
  background-color: rgb(66, 66, 66);
  padding-bottom: 30px;
  border-top: red solid 2px;
  clear: both;
  position: relative;
   height: 60px;
  margin-top: 70px;
  text-align: center  ;
}



/* .container {  
    display: grid;  
    grid-template-columns: 100px 100px 100px;  
    grid-template-rows: 50px 50px;  
}



.container {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 50px 50px;  
} */
